.bluescreen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0074d0;
    color: white;
    padding: 5%;
    .qr {
        border-radius: 5px;
        height: 100px;
        width: 100px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        // background: #008af8;
        background: white;
        img {
            //   filter: invert(100%) sepia(11%) saturate(5483%) hue-rotate(269deg) brightness(119%) contrast(109%);
            //   filter: invert(65%) sepia(94%) saturate(5781%) hue-rotate(188deg) brightness(99%) contrast(100%);
            filter: invert(32%) sepia(68%) saturate(1843%) hue-rotate(186deg) brightness(91%) contrast(104%);
            vertical-align: middle;
            height: 125px;
            width: 125px;
            margin: -13px;
        }
    }
}
.bluescreen.visible {
    display: block;
}