@font-face {
    font-family: "Segoe UI";
    src: url("assets/fonts/segoeui.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: url("assets/fonts/segoeuisl.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Semibold";
    src: url("assets/fonts/seguisb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Light";
    src: url("assets/fonts/segoeuil.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("assets/fonts/segoeuib.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fluent Icons Regular";
    src: url("assets/fonts/FluentSystemIcons-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fluent Icons Filled";
    src: url("assets/fonts/FluentSystemIcons-Filled.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe Fluent Icons";
    src: url("assets/fonts/SegoeIcons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe MDL2 Assets";
    src: url("assets/fonts/segmdl2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("assets/fonts/segoeuib.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
